/* ARCHIVO ESTILOS EVALUACIÓN 4*/
/* FORMATO DEL CONTENEDOR */
#contenedor {
    width: 960px;
    margin: 0 auto; /* Centrar el contenedor */
    background-color: #92b6d5;
    margin: auto;
    margin-right: auto;
}
/* FORMATO DE LA CABECERA */
#cabecera {
    height: 150px; 
    width: 870px;
    background-color:  #838487;
    margin: auto;
    margin-right: auto;
}
/* formato del menú horizontal*/
#menu_horizontal {
    height: 100px; 
    width: 650px;
    background-color: #d8ae47;
    margin: 15px;
    float: left;

}
/* formato de la barra de buscar*/
#barra_buscar {
    height: 100px; 
    width: 150px;
    background-color: #e94b3c; 
    margin: 15px;
    float: right;
}
/* FORMATO GENERAL PARA TODAS LAS SECCIONES */
#seccion_1, #seccion_2, #seccion_3 {
    height: 300px; /* Misma altura para cada sección */
    width: 870px;
    margin: auto;
    margin-right: auto;
}
/* FORMATO INDIVIDUAL PARA CADA SECCIÓN */
#seccion_1 {
    background-color: #c07672; 
}

#seccion_2 {
    background-color:#b3fff6; 
}

#seccion_3 {
    background-color: #e6af91; 
}
/*definicion de las caracteristicas de cada articulo*/
.sec_1 {
    width: 250px;
    height: 260px;
    float: left;
    background-color: #d1b894;
    margin: 20px;
}

.sec_2 {
    width: 850px;
    height: 80px;
    float: left;
    background-color: #be9ec9;
    margin: 10px;
}

.sec_3 {
    width: 270px;
    height: 240px;
    float: left;
    background-color: #0A7E8C;
    margin: 30px 10px;
}

/* FORMATO DEL PIE DE LA PAGINA*/
#pie_pag {
    height: 100px; 
    width: 870px;
    background-color:#7f4145; 
    margin: auto;
    margin-right: auto;
}